name: Deploy to Home Server

on:
  push:
    branches: ["main"]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: self-hosted
    steps:
      - name: Czyszczenie przestrzeni roboczej
        run: rm -rf ./* || true

      - name: Pobranie kodu
        uses: actions/checkout@v4

      - name: Zbudowanie obrazu
        run: docker build -t beertaste-v2:latest ./client

      - name: Instalacja sterownika w folderze Projects
        run: |
          mkdir -p /home/wojciech/projects/beertaste-v2
          cp docker-compose.prod.yml /home/wojciech/projects/beertaste-v2/docker-compose.yml

      - name: Tworzenie pliku .env dla aplikacji
        working-directory: /home/wojciech/projects/beertaste-v2
        run: |
          echo "NEXT_PUBLIC_SUPABASE_URL=${{ secrets.SUPABASE_URL }}" > .env
          echo "NEXT_PUBLIC_SUPABASE_ANON_KEY=${{ secrets.SUPABASE_ANON_KEY }}" >> .env

      - name: Uruchomienie z folderu Projects
        working-directory: /home/wojciech/projects/beertaste-v2
        run: |
          docker compose down || true
          docker compose up -d --force-recreate